openapi: 3.0.3
info:
  contact:
    email: info@blockdaemon.com
    name: Blockdaemon
  description: The Blockdaemon DeFi API provides a single interface to a multitude
    of DeFi projects and blockchains
  title: Blockdaemon DeFi API
  version: 1.0.0
  x-logo:
    altText: Blockdaemon logo
    backgroundColor: '#fafafa'
    url: https://storage.googleapis.com/blockdaemon-app-static-images/marketing/PNG/dark-logo.png
externalDocs:
  description: Blockdaemon DeFi documentation
  url: http://www.blockdaemon.com/api/defi
servers:
- url: https://svc.blockdaemon.com
security:
- bearerAuth: []
- apiKeyAuthHeader: []
tags:
- description: API endpoints for managing account approvals
  name: approvals
- description: API endpoints for fetching information about blockchains
  name: chains
- description: API endpoints for exchanging assets
  name: exchange
- description: API endpoints for fetching information about tokens
  name: tokens
- description: Operations related to fetching balances
  name: balances
- description: Operations related to fetching transactions
  name: transactions
paths:
  /exchange/routes:
    get:
      description: "Provides a list of possible routes for swapping assets, detailing\
        \ each route's steps, tokens, amounts, fees, and estimated execution time.\
        \ This allows users to compare different options and select the most suitable\
        \ route for their needs."
      operationId: GetRoutes
      parameters:
      - description: The sending blockchain in CAIP-2 notation.
        example: eip155:1
        explode: true
        in: query
        name: fromChain
        required: true
        schema:
          $ref: '#/components/schemas/ChainID'
        style: form
      - description: "The amount of tokens to be sent, including decimals."
        example: "3000000000000000"
        explode: true
        in: query
        name: fromAmount
        required: true
        schema:
          $ref: '#/components/schemas/AmountString'
        style: form
      - description: The address or symbol of the token to be transferred.
        example: 0x0000000000000000000000000000000000000000
        explode: true
        in: query
        name: fromToken
        required: true
        schema:
          $ref: '#/components/schemas/Address'
        style: form
      - description: The receiving blockchain in CAIP-2 notation.
        example: eip155:10
        explode: true
        in: query
        name: toChain
        required: true
        schema:
          $ref: '#/components/schemas/ChainID'
        style: form
      - description: The address or symbol of the token to be received.
        example: 0x0b2c639c533813f4aa9d7837caf62653d097ff85
        explode: true
        in: query
        name: toToken
        required: true
        schema:
          $ref: '#/components/schemas/Address'
        style: form
      - description: The address of the wallet sending the tokens.
        example: 0xb8DC8a293fb4c6677dE0A29E505d33314eBB9161
        explode: true
        in: query
        name: fromAddress
        required: true
        schema:
          $ref: '#/components/schemas/Address'
        style: form
      - description: The address of the wallet receiving the tokens. This can be the
          same as the `fromAddress`. `fromAddress` will be used.
        example: 0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045
        explode: true
        in: query
        name: toAddress
        required: true
        schema:
          $ref: '#/components/schemas/Address'
        style: form
      - description: "The maximum allowed price slippage for the transaction, as a\
          \ decimal fraction."
        example: 0.001
        explode: true
        in: query
        name: slippage
        required: true
        schema:
          $ref: '#/components/schemas/Slippage'
        style: form
      - description: A list of bridges that are allowed for the transaction.
        explode: true
        in: query
        name: allowBridges
        required: false
        schema:
          example:
          - optimism
          - mayan
          items:
            type: string
          type: array
        style: form
      - description: A list of exchanges that are allowed for the transaction.
        explode: true
        in: query
        name: allowExchanges
        required: false
        schema:
          example:
          - 1inch
          - uniswap
          items:
            type: string
          type: array
        style: form
      - description: A list of bridges that are not allowed for the transaction.
        explode: true
        in: query
        name: denyBridges
        required: false
        schema:
          example:
          - optimism
          - mayan
          items:
            type: string
          type: array
        style: form
      - description: A list of exchanges that are not allowed for the transaction.
        explode: true
        in: query
        name: denyExchanges
        required: false
        schema:
          example:
          - 1inch
          - uniswap
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoutesResponse'
          description: "Successful response containing a list of available routes\
            \ for swapping the specified assets, including details about each route's\
            \ steps, tokens, amounts, fees, and estimated execution time."
        default:
          content:
            application/json:
              example:
                type: internal-error
                code: 500
                status: 500
                message: Internal error.
                timestamp: 2024-03-21T14:55:00Z
              schema:
                $ref: '#/components/schemas/Error'
          description: Routes have not been found.
      summary: Get a list of routes for swapping assets
      tags:
      - exchange
      x-zuplo-route:
        custom:
          product: defi-rules-engine
          billing_product: defi-api
        corsPolicy: anything-goes
        handler:
          export: urlRewriteHandler
          module: $import(@zuplo/runtime)
          options:
            rewritePattern: "service://bd-app-use4-k8s-cluster-defi-rules-engine-${env.ENV}/exchange/routes"
        policies:
          inbound:
          - defi-default-policy
  /tokens:
    get:
      description: "Retrieves a list of supported tokens along with their metadata,\
        \ such as the token's name, symbol, decimals, logo URI, and associated tags.\
        \ This information is useful for displaying token details and allowing users\
        \ to search or filter tokens based on specific criteria."
      operationId: GetTokens
      parameters:
      - description: The CAIP-2 identifier for a blockchain.
        example: eip155:1
        explode: true
        in: query
        name: chainID
        required: false
        schema:
          $ref: '#/components/schemas/ChainID'
        style: form
        x-go-name: ChainIDParam
      - description: "The address of an token contract to query. If omitted, all supported\
          \ tokens will be queried."
        example: 0x7F5c764cBc14f9669B88837ca1490cCa17c31607
        explode: true
        in: query
        name: tokenAddress
        required: false
        schema:
          $ref: '#/components/schemas/Address'
        style: form
      - description: The symbol of an token contract.
        example: USDC
        explode: true
        in: query
        name: tokenSymbol
        required: false
        schema:
          $ref: '#/components/schemas/TokenSymbol'
        style: form
      - description: A list of token tag identifiers to include in the query.
        example:
        - stablecoin
        - defi
        explode: true
        in: query
        name: tagLimit
        required: false
        schema:
          example:
          - stablecoin
          - defi
          items:
            example: defi
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenList'
          description: "Successful response containing a list of supported tokens\
            \ with their metadata, such as name, symbol, decimals, logo URI, tags,\
            \ and associated chains."
        default:
          content:
            application/json:
              example:
                type: internal-error
                code: 500
                status: 500
                message: Internal error.
                timestamp: 2024-03-21T14:55:00Z
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred - get tokens.
      summary: Get list of supported tokens with metadata
      tags:
      - tokens
      x-zuplo-route:
        custom:
          product: defi-rules-engine
          billing_product: defi-api
        corsPolicy: anything-goes
        handler:
          export: urlRewriteHandler
          module: $import(@zuplo/runtime)
          options:
            rewritePattern: "service://bd-app-use4-k8s-cluster-defi-rules-engine-${env.ENV}/tokens"
        policies:
          inbound:
          - defi-default-policy
  /tokens/tags:
    get:
      description: Retrieves a list of available tags that can be associated with
        tokens. These tags can be used to categorize or filter tokens based on certain
        properties or characteristics.
      operationId: GetTokenTags
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tags'
          description: Successful response containing a list of available tags that
            can be used to categorize or filter tokens.
        default:
          content:
            application/json:
              example:
                type: internal-error
                code: 500
                status: 500
                message: Internal error.
                timestamp: 2024-03-21T14:55:00Z
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred on get token tags.
      summary: Get list of token tags
      tags:
      - tokens
      x-zuplo-route:
        custom:
          product: defi-rules-engine
          billing_product: defi-api
        corsPolicy: anything-goes
        handler:
          export: urlRewriteHandler
          module: $import(@zuplo/runtime)
          options:
            rewritePattern: "service://bd-app-use4-k8s-cluster-defi-rules-engine-${env.ENV}/tokens/tags"
        policies:
          inbound:
          - defi-default-policy
  /chains:
    get:
      description: "Retrieves metadata about each supported blockchain network, such\
        \ as the chain name, CAIP-2 identifier, network type (mainnet, testnet, or\
        \ devnet), chain icon URI, estimated block time, required block confirmations,\
        \ RPC gateways, native currency details, and block explorer URLs. This information\
        \ is useful for displaying chain details and configuring interactions with\
        \ different blockchains."
      operationId: GetChains
      parameters:
      - description: The CAIP-2 identifier for a blockchain.
        example: eip155:1
        explode: true
        in: query
        name: chainID
        required: false
        schema:
          $ref: '#/components/schemas/ChainID'
        style: form
        x-go-name: ChainIDParam
      - description: The name of a blockchain.
        example: Ethereum
        explode: true
        in: query
        name: chainName
        required: false
        schema:
          example: Ethereum
          type: string
        style: form
      - description: "The type of network (mainnet, testnet, or devnet)."
        example: mainnet
        explode: true
        in: query
        name: networkType
        required: false
        schema:
          $ref: '#/components/schemas/NetworkType'
        style: form
      - description: "The type of chain (e.g evm, or aptos)."
        example: evm
        explode: true
        in: query
        name: chainType
        required: false
        schema:
          $ref: '#/components/schemas/ChainType'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chains'
          description: "Successful response containing metadata about supported blockchain\
            \ networks, including chain name, CAIP-2 identifier, network type, chain\
            \ icon URI, block times, RPC gateways, native currency details, and block\
            \ explorer URLs."
        default:
          content:
            application/json:
              example:
                type: internal-error
                code: 500
                status: 500
                message: Internal error.
                timestamp: 2024-03-21T14:55:00Z
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred in get chains.
      summary: Get supported blockchain networks with metadata
      tags:
      - chains
      x-zuplo-route:
        custom:
          product: defi-rules-engine
          billing_product: defi-api
        corsPolicy: anything-goes
        handler:
          export: urlRewriteHandler
          module: $import(@zuplo/runtime)
          options:
            rewritePattern: "service://bd-app-use4-k8s-cluster-defi-rules-engine-${env.ENV}/chains"
        policies:
          inbound:
          - defi-default-policy
  /approval:
    delete:
      description: "Deletes an existing ERC20 token approval for a specified account,\
        \ token, and spender. The response contains details about the deletion, including\
        \ a transaction request object that can be used to execute the deletion on-chain."
      operationId: DeleteTokenApproval
      requestBody:
        content:
          application/json:
            example:
              accountAddress: 0xb8DC8a293fb4c6677dE0A29E505d33314eBB9161
              chainID: eip155:10
              spenderAddress: 0xB0D502E938ed5f4df2E681fE6E419ff29631d62b
              tokenAddress: 0x7F5c764cBc14f9669B88837ca1490cCa17c31607
            schema:
              $ref: '#/components/schemas/TokenApprovalDeletion'
        description: The request body for a delete approval
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenApprovalResponse'
          description: "Successful response containing details about deleting an existing\
            \ ERC20 token approval, including a transaction request object that can\
            \ be used to execute the deletion on-chain."
        default:
          content:
            application/json:
              example:
                type: internal-error
                code: 500
                status: 500
                message: Internal error.
                timestamp: 2024-03-21T14:55:00Z
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred - Delete Approval
      summary: Delete an ERC20 token approval
      tags:
      - approvals
      x-zuplo-route:
        custom:
          product: defi-rules-engine
          billing_product: defi-api
        corsPolicy: anything-goes
        handler:
          export: urlRewriteHandler
          module: $import(@zuplo/runtime)
          options:
            rewritePattern: "service://bd-app-use4-k8s-cluster-defi-rules-engine-${env.ENV}/approval"
        policies:
          inbound:
          - defi-default-policy
      x-beta: true
    get:
      description: |
        Retrieves token approval details for a specified account, token, and spender. This includes information such as the approved amount, the chain ID, and the spender's address and name. Token approvals are required for certain DeFi interactions, and this endpoint allows users to check the current approval status for their tokens.
      operationId: GetTokenApproval
      parameters:
      - description: The CAIP-2 identifier for a blockchain.
        example: eip155:10
        explode: true
        in: query
        name: chainID
        required: true
        schema:
          $ref: '#/components/schemas/ChainID'
        style: form
        x-go-name: ChainIDParam
      - description: The address of an account.
        example: 0xb8DC8a293fb4c6677dE0A29E505d33314eBB9161
        explode: true
        in: query
        name: accountAddress
        required: true
        schema:
          $ref: '#/components/schemas/Address'
        style: form
      - description: The address of an token contract.
        example: 0x7F5c764cBc14f9669B88837ca1490cCa17c31607
        explode: true
        in: query
        name: tokenAddress
        required: true
        schema:
          $ref: '#/components/schemas/Address'
        style: form
      - description: The address of a spender.
        example: 0xB0D502E938ed5f4df2E681fE6E419ff29631d62b
        explode: true
        in: query
        name: spenderAddress
        required: true
        schema:
          $ref: '#/components/schemas/Address'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenApprovalData'
          description: "Successful response containing token approval details for\
            \ the specified account, token, and spender, including information such\
            \ as the approved amount, the chain ID, and the spender's address and\
            \ name."
        default:
          content:
            application/json:
              example:
                type: internal-error
                code: 500
                status: 500
                message: Internal error.
                timestamp: 2024-03-21T14:55:00Z
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred on approving a token for an address.
      summary: List ERC20 token approval
      tags:
      - approvals
      x-zuplo-route:
        custom:
          product: defi-rules-engine
          billing_product: defi-api
        corsPolicy: anything-goes
        handler:
          export: urlRewriteHandler
          module: $import(@zuplo/runtime)
          options:
            rewritePattern: "service://bd-app-use4-k8s-cluster-defi-rules-engine-${env.ENV}/approval"
        policies:
          inbound:
          - defi-default-policy
    post:
      description: "Modifies an existing ERC20 token approval by updating the approved\
        \ amount for a specified account, token, and spender. The response contains\
        \ details about the modification, including the previous and new approved\
        \ amounts, as well as a transaction request object that can be used to execute\
        \ the modification on-chain."
      operationId: ModifyTokenApproval
      requestBody:
        content:
          application/json:
            example:
              accountAddress: 0xb8DC8a293fb4c6677dE0A29E505d33314eBB9161
              chainID: eip155:10
              spenderAddress: 0xB0D502E938ed5f4df2E681fE6E419ff29631d62b
              toApprovedAmount: "1000000000000000000"
              tokenAddress: 0x7F5c764cBc14f9669B88837ca1490cCa17c31607
            schema:
              $ref: '#/components/schemas/TokenApprovalModification'
        description: The request body for a post approval
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenApprovalResponse'
          description: "Successful response containing details about modifying an\
            \ existing ERC20 token approval, including the previous and new approved\
            \ amounts, as well as a transaction request object that can be used to\
            \ execute the modification on-chain."
        default:
          content:
            application/json:
              example:
                type: internal-error
                code: 500
                status: 500
                message: Internal error.
                timestamp: 2024-03-21T14:55:00Z
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred on post approval.
      summary: Modify an ERC20 token approval
      tags:
      - approvals
      x-zuplo-route:
        custom:
          product: defi-rules-engine
          billing_product: defi-api
        corsPolicy: anything-goes
        handler:
          export: urlRewriteHandler
          module: $import(@zuplo/runtime)
          options:
            rewritePattern: "service://bd-app-use4-k8s-cluster-defi-rules-engine-${env.ENV}/approval"
        policies:
          inbound:
          - defi-default-policy
      x-beta: true
  /approvals:
    get:
      description: "Retrieves a list of ERC20 token approvals for multiple accounts\
        \ across various chains, spenders, and tokens. The response includes the combined\
        \ approval amounts aggregated by chain and account, allowing users to view\
        \ their overall approval exposure. This endpoint is useful for monitoring\
        \ and managing token approvals across multiple DeFi platforms or protocols."
      operationId: GetAllApprovals
      parameters:
      - description: A list of CAIP-2 identifiers for blockchains.
        example:
        - eip155:1
        - eip155:10
        explode: true
        in: query
        name: chainIDs
        required: true
        schema:
          items:
            $ref: '#/components/schemas/ChainID'
          type: array
        style: form
      - description: A list of account addresses to query.
        example:
        - 0xb8DC8a293fb4c6677dE0A29E505d33314eBB9161
        - 0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045
        explode: false
        in: query
        name: accountAddresses
        required: true
        schema:
          items:
            $ref: '#/components/schemas/Address'
          type: array
        style: form
      - description: "A list of spender addresses to query. If omitted, all supported\
          \ spenders will be queried."
        example:
        - 0x000000000022d473030f116ddee9f6b43ac78ba3
        explode: false
        in: query
        name: spenderAddresses
        required: false
        schema:
          items:
            $ref: '#/components/schemas/Address'
          type: array
        style: form
      - description: "A list of token contract addresses to query. If omitted, all\
          \ supported tokens will be queried."
        example:
        - 0xdAC17F958D2ee523a2206206994597C13D831ec7
        - 0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48
        explode: false
        in: query
        name: tokenAddresses
        required: false
        schema:
          items:
            $ref: '#/components/schemas/Address'
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllApprovalsResponse'
          description: "Successful response containing a list of ERC20 token approvals\
            \ for multiple accounts across various chains, spenders, and tokens, along\
            \ with the combined approval amounts aggregated by chain and account.\
            \ chains"
        default:
          content:
            application/json:
              example:
                type: internal-error
                code: 500
                status: 500
                message: Internal error.
                timestamp: 2024-03-21T14:55:00Z
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred while fetching approvals.
      summary: Get a list of ERC20 token approvals
      tags:
      - approvals
      x-zuplo-route:
        custom:
          product: defi-rules-engine
          billing_product: defi-api
        corsPolicy: anything-goes
        handler:
          export: urlRewriteHandler
          module: $import(@zuplo/runtime)
          options:
            rewritePattern: "service://bd-app-use4-k8s-cluster-defi-rules-engine-${env.ENV}/approvals"
        policies:
          inbound:
          - defi-default-policy
  /approvals/supported-chains:
    get:
      description: Retrieves a list of blockchain networks that are supported for
        querying token approvals. This information can be useful for clients or applications
        that need to know which chains are compatible with the approvals functionality.
      operationId: GetSupportedChains
      parameters:
      - description: The CAIP-2 identifier for a blockchain.
        example: eip155:1
        explode: true
        in: query
        name: chainID
        required: false
        schema:
          $ref: '#/components/schemas/ChainID'
        style: form
        x-go-name: ChainIDParam
      - description: The name of a blockchain.
        example: Ethereum
        explode: true
        in: query
        name: chainName
        required: false
        schema:
          example: Ethereum
          type: string
        style: form
      - description: "The type of network (mainnet, testnet, or devnet)."
        example: mainnet
        explode: true
        in: query
        name: networkType
        required: false
        schema:
          $ref: '#/components/schemas/NetworkType'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chains'
          description: Successful response containing a list of blockchain networks
            that are supported for querying token approvals.
        default:
          content:
            application/json:
              example:
                type: internal-error
                code: 500
                status: 500
                message: Internal error.
                timestamp: 2024-03-21T14:55:00Z
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred in get balances chains.
      summary: Get supported chains for token approvals
      tags:
      - approvals
      x-zuplo-route:
        custom:
          product: defi-rules-engine
          billing_product: defi-api
        corsPolicy: anything-goes
        handler:
          export: urlRewriteHandler
          module: $import(@zuplo/runtime)
          options:
            rewritePattern: "service://bd-app-use4-k8s-cluster-defi-rules-engine-${env.ENV}/approvals/supported-chains"
        policies:
          inbound:
          - defi-default-policy
  /exchange/status:
    get:
      description: Retrieves the status of a swap by providing its transaction ID.
        The response includes details such as the transaction's current status and
        transaction hashes. This endpoint allows users to track the progress of their
        transactions and monitor their status across different blockchains. We recommend
        using additional methods to verify that the transaction has been included
        in a block before checking the status to avoid "not-found" response while
        the transaction is still in the mempool.
      operationId: getStatus
      parameters:
      - description: The ID of the transaction.
        example: 0xced78f9a9a3ad2816b6ba573aaf93e5c8685f10e1ef827c0b31090ed23746987
        explode: true
        in: query
        name: transactionID
        required: true
        schema:
          type: string
        style: form
      - description: A reference to the transaction target used. This value can be
          found in the routes response.
        example: 906180c0-7ade-5710-905d-2583c3ab71eb
        explode: true
        in: query
        name: targetID
        required: true
        schema:
          $ref: '#/components/schemas/TargetID'
        style: form
      - description: The sending Chain ID or symbol.
        example: eip155:10
        explode: true
        in: query
        name: fromChain
        required: true
        schema:
          $ref: '#/components/schemas/ChainID'
        style: form
      - description: The receiver of the transaction (Chain ID). This can be the same
          as the `fromChain` for same-chain swaps.
        example: eip155:10
        explode: true
        in: query
        name: toChain
        required: true
        schema:
          $ref: '#/components/schemas/ChainID'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
          description: "Successful response containing the current status of the specified\
            \ transaction, including details such as the transaction's status (pending,\
            \ bridging, done, failed), the sending and receiving chain IDs, transaction\
            \ hashes, and explorer links."
        default:
          content:
            application/json:
              example:
                type: internal-error
                code: 500
                status: 500
                message: Internal error.
                timestamp: 2024-03-21T14:55:00Z
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred.
      summary: Get swap status
      tags:
      - exchange
      x-zuplo-route:
        custom:
          product: defi-rules-engine
          billing_product: defi-api
        corsPolicy: anything-goes
        handler:
          export: urlRewriteHandler
          module: $import(@zuplo/runtime)
          options:
            rewritePattern: "service://bd-app-use4-k8s-cluster-defi-rules-engine-${env.ENV}/exchange/status"
        policies:
          inbound:
          - defi-default-policy
  /balances:
    get:
      description: "Retrieves the individual token balances and market data for an\
        \ account across multiple blockchain networks. The response includes the account's\
        \ token holdings, their current market value, and other relevant information,\
        \ such as the token's name, symbol, and logo URI. This endpoint is useful\
        \ for displaying a consolidated view of a user's portfolio across different\
        \ chains and tokens."
      operationId: GetBalances
      parameters:
      - description: The address of an account.
        example: 0xb8DC8a293fb4c6677dE0A29E505d33314eBB9161
        explode: true
        in: query
        name: accountAddress
        required: true
        schema:
          $ref: '#/components/schemas/Address'
        style: form
      - description: "The address of an token contract to query. If omitted, all supported\
          \ tokens will be queried."
        example: 0x7F5c764cBc14f9669B88837ca1490cCa17c31607
        explode: true
        in: query
        name: tokenAddress
        required: false
        schema:
          $ref: '#/components/schemas/Address'
        style: form
      - description: A list of CAIP-2 identifiers for blockchains.
        example:
        - eip155:1
        - eip155:10
        explode: true
        in: query
        name: chainIDs
        required: true
        schema:
          items:
            $ref: '#/components/schemas/ChainID'
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalancesResponse'
          description: "Successful response containing the individual token balances\
            \ and market data for the specified account across multiple blockchain\
            \ networks, including the account's token holdings, their current market\
            \ value, and other relevant information such as the token's name, symbol,\
            \ and logo URI."
      summary: Get token balances and market data for an account
      tags:
      - balances
      x-zuplo-route:
        custom:
          product: defi-rules-engine
          billing_product: defi-api
        corsPolicy: anything-goes
        handler:
          export: urlRewriteHandler
          module: $import(@zuplo/runtime)
          options:
            rewritePattern: "service://bd-app-use4-k8s-cluster-defi-rules-engine-${env.ENV}/balances"
        policies:
          inbound:
          - defi-default-policy
  /balances/supported-chains:
    get:
      description: Retrieves a list of blockchain networks that are supported for
        querying token balances. This information can be useful for clients or applications
        that need to know which chains are compatible with the token balances functionality.
      operationId: GetSupportedChainsForBalances
      parameters:
      - description: The CAIP-2 identifier for a blockchain.
        example: eip155:1
        explode: true
        in: query
        name: chainID
        required: false
        schema:
          $ref: '#/components/schemas/ChainID'
        style: form
        x-go-name: ChainIDParam
      - description: The name of a blockchain.
        example: Ethereum
        explode: true
        in: query
        name: chainName
        required: false
        schema:
          example: Ethereum
          type: string
        style: form
      - description: "The type of network (mainnet, testnet, or devnet)."
        example: mainnet
        explode: true
        in: query
        name: networkType
        required: false
        schema:
          $ref: '#/components/schemas/NetworkType'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chains'
          description: Successful response containing a list of blockchain networks
            that are supported for querying token balances.
        default:
          content:
            application/json:
              example:
                type: internal-error
                code: 500
                status: 500
                message: Internal error.
                timestamp: 2024-03-21T14:55:00Z
              schema:
                $ref: '#/components/schemas/Error'
          description: An error occurred in get balances chains.
      summary: Get supported chains for token balance queries
      tags:
      - balances
      x-zuplo-route:
        custom:
          product: defi-rules-engine
          billing_product: defi-api
        corsPolicy: anything-goes
        handler:
          export: urlRewriteHandler
          module: $import(@zuplo/runtime)
          options:
            rewritePattern: "service://bd-app-use4-k8s-cluster-defi-rules-engine-${env.ENV}/balances/supported-chains"
        policies:
          inbound:
          - defi-default-policy
  /transactions:
    get:
      description: "Retrieves the transaction history for a given account on a specified\
        \ blockchain network. The response includes details about each transaction,\
        \ such as the timestamp, transaction type, chain ID, block information, transaction\
        \ hash, explorer links, status, involved accounts, token amounts, gas costs,\
        \ and any associated token transfers. This endpoint allows users to review\
        \ their past transactions and monitor their on-chain activity."
      operationId: GetTransactions
      parameters:
      - description: The CAIP-2 identifier for a blockchain.
        example: eip155:10
        explode: true
        in: query
        name: chainID
        required: true
        schema:
          $ref: '#/components/schemas/ChainID'
        style: form
        x-go-name: ChainIDParam
      - description: The address of an account.
        example: 0xb8DC8a293fb4c6677dE0A29E505d33314eBB9161
        explode: true
        in: query
        name: accountAddress
        required: true
        schema:
          $ref: '#/components/schemas/Address'
        style: form
      - description: The page token/number for pagination.
        example: "1"
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: "1"
          type: string
        style: form
      - description: The number of items per page.
        example: 100
        explode: true
        in: query
        name: limit
        required: true
        schema:
          default: 100
          example: 100
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsResponse'
          description: "Successful response containing the transaction history for\
            \ the specified account on the given blockchain network, including details\
            \ about each transaction such as the timestamp, transaction type, chain\
            \ ID, block information, transaction hash, explorer links, status, involved\
            \ accounts, token amounts, gas costs, and any associated token transfers."
      summary: Get transaction history for an account
      tags:
      - transactions
      x-zuplo-route:
        custom:
          product: defi-rules-engine
          billing_product: defi-api
        corsPolicy: anything-goes
        handler:
          export: urlRewriteHandler
          module: $import(@zuplo/runtime)
          options:
            rewritePattern: "service://bd-app-use4-k8s-cluster-defi-rules-engine-${env.ENV}/transactions"
        policies:
          inbound:
          - defi-default-policy
components:
  parameters:
    accountAddresses_required:
      description: A list of account addresses to query.
      example:
      - 0xb8DC8a293fb4c6677dE0A29E505d33314eBB9161
      - 0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045
      explode: false
      in: query
      name: accountAddresses
      required: true
      schema:
        items:
          $ref: '#/components/schemas/Address'
        type: array
      style: form
    spenderAddresses:
      description: "A list of spender addresses to query. If omitted, all supported\
        \ spenders will be queried."
      example:
      - 0x000000000022d473030f116ddee9f6b43ac78ba3
      explode: false
      in: query
      name: spenderAddresses
      required: false
      schema:
        items:
          $ref: '#/components/schemas/Address'
        type: array
      style: form
    tokenAddress:
      description: "The address of an token contract to query. If omitted, all supported\
        \ tokens will be queried."
      example: 0x7F5c764cBc14f9669B88837ca1490cCa17c31607
      explode: true
      in: query
      name: tokenAddress
      required: false
      schema:
        $ref: '#/components/schemas/Address'
      style: form
    tokenAddresses:
      description: "A list of token contract addresses to query. If omitted, all supported\
        \ tokens will be queried."
      example:
      - 0xdAC17F958D2ee523a2206206994597C13D831ec7
      - 0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48
      explode: false
      in: query
      name: tokenAddresses
      required: false
      schema:
        items:
          $ref: '#/components/schemas/Address'
        type: array
      style: form
    fromChain:
      description: The sending blockchain in CAIP-2 notation.
      example: eip155:1
      explode: true
      in: query
      name: fromChain
      required: true
      schema:
        $ref: '#/components/schemas/ChainID'
      style: form
    toChain:
      description: The receiving blockchain in CAIP-2 notation.
      example: eip155:10
      explode: true
      in: query
      name: toChain
      required: true
      schema:
        $ref: '#/components/schemas/ChainID'
      style: form
    fromToken:
      description: The address or symbol of the token to be transferred.
      example: 0x0000000000000000000000000000000000000000
      explode: true
      in: query
      name: fromToken
      required: true
      schema:
        $ref: '#/components/schemas/Address'
      style: form
    toToken:
      description: The address or symbol of the token to be received.
      example: 0x0b2c639c533813f4aa9d7837caf62653d097ff85
      explode: true
      in: query
      name: toToken
      required: true
      schema:
        $ref: '#/components/schemas/Address'
      style: form
    fromAddress:
      description: The address of the wallet sending the tokens.
      example: 0xb8DC8a293fb4c6677dE0A29E505d33314eBB9161
      explode: true
      in: query
      name: fromAddress
      required: true
      schema:
        $ref: '#/components/schemas/Address'
      style: form
    toAddress:
      description: The address of the wallet receiving the tokens. This can be the
        same as the `fromAddress`. `fromAddress` will be used.
      example: 0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045
      explode: true
      in: query
      name: toAddress
      required: true
      schema:
        $ref: '#/components/schemas/Address'
      style: form
    fromAmount:
      description: "The amount of tokens to be sent, including decimals."
      example: "3000000000000000"
      explode: true
      in: query
      name: fromAmount
      required: true
      schema:
        $ref: '#/components/schemas/AmountString'
      style: form
    slippage:
      description: "The maximum allowed price slippage for the transaction, as a decimal\
        \ fraction."
      example: 0.001
      explode: true
      in: query
      name: slippage
      required: true
      schema:
        $ref: '#/components/schemas/Slippage'
      style: form
    allowBridges:
      description: A list of bridges that are allowed for the transaction.
      explode: true
      in: query
      name: allowBridges
      required: false
      schema:
        example:
        - optimism
        - mayan
        items:
          type: string
        type: array
      style: form
    allowExchanges:
      description: A list of exchanges that are allowed for the transaction.
      explode: true
      in: query
      name: allowExchanges
      required: false
      schema:
        example:
        - 1inch
        - uniswap
        items:
          type: string
        type: array
      style: form
    denyBridges:
      description: A list of bridges that are not allowed for the transaction.
      explode: true
      in: query
      name: denyBridges
      required: false
      schema:
        example:
        - optimism
        - mayan
        items:
          type: string
        type: array
      style: form
    denyExchanges:
      description: A list of exchanges that are not allowed for the transaction.
      explode: true
      in: query
      name: denyExchanges
      required: false
      schema:
        example:
        - 1inch
        - uniswap
        items:
          type: string
        type: array
      style: form
    chainID:
      description: The CAIP-2 identifier for a blockchain.
      example: eip155:1
      explode: true
      in: query
      name: chainID
      required: false
      schema:
        $ref: '#/components/schemas/ChainID'
      style: form
      x-go-name: ChainIDParam
    chainID_required:
      description: The CAIP-2 identifier for a blockchain.
      example: eip155:10
      explode: true
      in: query
      name: chainID
      required: true
      schema:
        $ref: '#/components/schemas/ChainID'
      style: form
      x-go-name: ChainIDParam
    chainIDs_required:
      description: A list of CAIP-2 identifiers for blockchains.
      example:
      - eip155:1
      - eip155:10
      explode: true
      in: query
      name: chainIDs
      required: true
      schema:
        items:
          $ref: '#/components/schemas/ChainID'
        type: array
      style: form
    chainName:
      description: The name of a blockchain.
      example: Ethereum
      explode: true
      in: query
      name: chainName
      required: false
      schema:
        example: Ethereum
        type: string
      style: form
    networkType:
      description: "The type of network (mainnet, testnet, or devnet)."
      example: mainnet
      explode: true
      in: query
      name: networkType
      required: false
      schema:
        $ref: '#/components/schemas/NetworkType'
      style: form
    chainType:
      description: "The type of chain (e.g evm, or aptos)."
      example: evm
      explode: true
      in: query
      name: chainType
      required: false
      schema:
        $ref: '#/components/schemas/ChainType'
      style: form
    accountAddress:
      description: The address of an account.
      example: 0xb8DC8a293fb4c6677dE0A29E505d33314eBB9161
      explode: true
      in: query
      name: accountAddress
      required: true
      schema:
        $ref: '#/components/schemas/Address'
      style: form
    tokenAddress_required:
      description: The address of an token contract.
      example: 0x7F5c764cBc14f9669B88837ca1490cCa17c31607
      explode: true
      in: query
      name: tokenAddress
      required: true
      schema:
        $ref: '#/components/schemas/Address'
      style: form
    spenderAddress_required:
      description: The address of a spender.
      example: 0xB0D502E938ed5f4df2E681fE6E419ff29631d62b
      explode: true
      in: query
      name: spenderAddress
      required: true
      schema:
        $ref: '#/components/schemas/Address'
      style: form
    tokenSymbol:
      description: The symbol of an token contract.
      example: USDC
      explode: true
      in: query
      name: tokenSymbol
      required: false
      schema:
        $ref: '#/components/schemas/TokenSymbol'
      style: form
    tagLimit:
      description: A list of token tag identifiers to include in the query.
      example:
      - stablecoin
      - defi
      explode: true
      in: query
      name: tagLimit
      required: false
      schema:
        example:
        - stablecoin
        - defi
        items:
          example: defi
          type: string
        type: array
      style: form
  schemas:
    Tags:
      description: A list of tags which can be associated with a token.
      example:
      - native
      - stargatev2
      - stablecoin
      - defi
      - stargatev1
      - metaverse
      - wrapped-token
      - utility-token
      - gamefi
      - oracle
      - wallet
      - meme
      - bridge
      - exchange
      - staking
      - meme-token
      - nft-marketplace
      - axelar
      items:
        type: string
      type: array
    PriceUSD:
      description: The price of the asset or token in US Dollars.
      format: double
      type: number
    ChainID:
      description: The unique identifier of a blockchain in CAIP-2 notation.
      pattern: "^[-a-z0-9]{3,8}:[-_a-zA-Z0-9]{1,32}$"
      type: string
    AmountString:
      description: The amount of a token represented as a string.
      pattern: "^([1-9][0-9]*|0)(\\.[0-9]+)?$"
      type: string
    AmountDecimal:
      description: The amount of a token represented as a decimal number.
      format: float
      type: number
    Slippage:
      default: 0.01
      description: "The maximum allowed price slippage for a transaction, expressed\
        \ as a fraction of 100."
      format: float
      maximum: 1
      minimum: 0
      type: number
    TokenSymbol:
      description: The symbol of a token.
      pattern: "^[A-Za-z0-9]{1,10}$"
      type: string
    LogoURI:
      description: "The URI for the logo or icon of a token, chain, or DeFi project."
      format: uri
      type: string
    Error:
      description: An error object containing details about the error.
      example:
        type: internal-error
        code: 500
        status: 500
        message: Internal error.
        timestamp: 2024-03-21T14:55:00Z
      properties:
        type:
          description: HTTP error type
          type: string
        code:
          description: Numeric error code
          type: integer
        status:
          description: HTTP status of the error
          type: integer
        message:
          description: Long error description
          type: string
        timestamp:
          description: A timestamp represented in ISO 8601 format.
          format: date-time
          type: string
      required:
      - code
      - message
      - status
      - timestamp
      - type
      type: object
      x-go-type: ApiError
      x-go-name: ApiError
    NativeCurrency:
      description: The native token of a blockchain.
      properties:
        name:
          description: Name of the native token.
          type: string
        symbol:
          description: Symbol of the native token.
          type: string
        decimals:
          description: Number of decimal places used by the native token.
          type: integer
        icon:
          description: URL of the native token icon.
          format: uri
          type: string
      required:
      - decimals
      - name
      - symbol
      title: NativeCurrency
      type: object
    TransactionRequest:
      description: The details of a transaction request to be signed.
      properties:
        data:
          description: Data for smart contract interactions.
          type: string
        to:
          description: The address of an account.
          example: 0xf271AAFC62634e6Dc9A276ac0f6145C4fDbE2Ced
          type: string
        value:
          description: The value of native token transfered in this transaction in
            hexadecimal wei.
          type: string
        from:
          description: The address of an account.
          example: 0xf271AAFC62634e6Dc9A276ac0f6145C4fDbE2Ced
          type: string
        chainID:
          description: The unique identifier of a blockchain in CAIP-2 notation.
          pattern: "^[-a-z0-9]{3,8}:[-_a-zA-Z0-9]{1,32}$"
          type: string
        gasLimit:
          description: The CAIP-2 identifier for a blockchain.
          type: integer
      required:
      - chainID
      - data
      - from
      - gasLimit
      - to
      - value
      type: object
    Extensions:
      description: Additional metadata about a token.
      properties:
        verified:
          description: Describes whether the token data has been verified by Blockdaemon
          type: boolean
        homepage:
          description: The homepage of the token issuer
          type: string
        unknown:
          type: boolean
      type: object
    Token:
      description: The metadata for a supported token.
      properties:
        chainID:
          description: The unique identifier of a blockchain in CAIP-2 notation.
          pattern: "^[-a-z0-9]{3,8}:[-_a-zA-Z0-9]{1,32}$"
          type: string
        address:
          description: The address of an account.
          example: 0xf271AAFC62634e6Dc9A276ac0f6145C4fDbE2Ced
          type: string
        name:
          description: The CAIP-2 identifier for a blockchain.
          type: string
        symbol:
          description: The symbol of the token
          type: string
        decimals:
          description: How many decimals the token supports
          minimum: 1
          type: integer
        logoURI:
          description: "The URI for the logo or icon of a token, chain, or DeFi project."
          format: uri
          type: string
        tags:
          $ref: '#/components/schemas/Tags'
        priceUSD:
          description: The price of the asset or token in US Dollars.
          format: double
          type: number
        extensions:
          $ref: '#/components/schemas/Extensions'
      required:
      - address
      - chainID
      - decimals
      - extensions
      - logoURI
      - name
      - symbol
      - tags
      type: object
    Tokens:
      description: A list of supported tokens and their metadata.
      items:
        $ref: '#/components/schemas/Token'
      type: array
    TokenList:
      additionalProperties:
        $ref: '#/components/schemas/Tokens'
      description: A collection of supported tokens grouped by chain ID.
      example:
        eip155:1:
        - address: 0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48
          chainID: eip155:1
          decimals: 6
          extensions:
            homepage: https://www.circle.com/en/usdc
            verified: true
          logoURI: https://defi-images-blockdaemon-research-development-int-aa593eebdaa2fd.gitlab.io/tokens/1-0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48.webp
          name: USDC
          priceUSD: 1
          symbol: USDC
          tags:
          - stargateV2
          - stargateV1
          - stablecoin
        eip155:10:
        - address: 0x0b2c639c533813f4aa9d7837caf62653d097ff85
          chainID: eip155:10
          decimals: 6
          extensions:
            homepage: https://www.circle.com/en/usdc
            verified: true
          logoURI: https://defi-images-blockdaemon-research-development-int-aa593eebdaa2fd.gitlab.io/tokens/10-0x0b2c639c533813f4aa9d7837caf62653d097ff85.webp
          name: USDC
          priceUSD: 1
          symbol: USDC
          tags:
          - stargateV2
          - stablecoin
        eip155:1313161554:
        - address: 0x368EBb46ACa6b8D0787C96B2b20bD3CC3F2c45F7
          chainID: eip155:1313161554
          decimals: 6
          extensions:
            verified: false
          logoURI: https://defi-images-blockdaemon-research-development-int-aa593eebdaa2fd.gitlab.io/tokens/1313161554-0x368ebb46aca6b8d0787c96b2b20bd3cc3f2c45f7.webp
          name: USDC (Bridged)
          symbol: USDC
          tags:
          - stablecoin
          - stargateV2
        eip155:137:
        - address: 0x3c499c542cef5e3811e1192ce70d8cc03d5c3359
          chainID: eip155:137
          decimals: 6
          extensions:
            homepage: https://www.circle.com/en/usdc
            verified: true
          logoURI: https://defi-images-blockdaemon-research-development-int-aa593eebdaa2fd.gitlab.io/tokens/137-0x3c499c542cef5e3811e1192ce70d8cc03d5c3359.webp
          name: USDC
          priceUSD: 1
          symbol: USDC
          tags:
          - stargateV2
          - stablecoin
        eip155:250:
        - address: 0x28a92dde19D9989F39A49905d7C9C2FAc7799bDf
          chainID: eip155:250
          decimals: 6
          extensions:
            verified: false
          logoURI: https://defi-images-blockdaemon-research-development-int-aa593eebdaa2fd.gitlab.io/tokens/250-0x28a92dde19d9989f39a49905d7c9c2fac7799bdf.webp
          name: USDC (Bridged)
          priceUSD: 1.003
          symbol: USDC
          tags:
          - stargateV1
          - stablecoin
        eip155:42161:
        - address: 0xaf88d065e77c8cC2239327C5EDb3A432268e5831
          chainID: eip155:42161
          decimals: 6
          extensions:
            homepage: https://www.circle.com/en/usdc
            verified: true
          logoURI: https://defi-images-blockdaemon-research-development-int-aa593eebdaa2fd.gitlab.io/tokens/42161-0xaf88d065e77c8cc2239327c5edb3a432268e5831.webp
          name: USDC
          priceUSD: 1
          symbol: USDC
          tags:
          - stargateV2
          - stablecoin
        eip155:42220:
        - address: 0xcebA9300f2b948710d2653dD7B07f33A8B32118C
          chainID: eip155:42220
          decimals: 25
          extensions:
            homepage: https://www.circle.com/en/usdc
            verified: true
          logoURI: https://defi-images-blockdaemon-research-development-int-aa593eebdaa2fd.gitlab.io/tokens/42220-0xceba9300f2b948710d2653dd7b07f33a8b32118c.webp
          name: USDC
          priceUSD: 1
          symbol: USDC
          tags:
          - stablecoin
        eip155:43114:
        - address: 0xB97EF9Ef8734C71904D8002F8b6Bc66Dd9c48a6E
          chainID: eip155:43114
          decimals: 6
          extensions:
            homepage: https://www.circle.com/en/usdc
            verified: true
          logoURI: https://defi-images-blockdaemon-research-development-int-aa593eebdaa2fd.gitlab.io/tokens/43114-0xb97ef9ef8734c71904d8002f8b6bc66dd9c48a6e.webp
          name: USDC
          priceUSD: 1
          symbol: USDC
          tags:
          - stargateV2
          - stargateV1
          - stablecoin
        eip155:5000:
        - address: 0x09bc4e0d864854c6afb6eb9a9cdf58ac190d0df9
          chainID: eip155:5000
          decimals: 6
          extensions:
            homepage: ""
            verified: false
          logoURI: https://defi-images-blockdaemon-research-development-int-aa593eebdaa2fd.gitlab.io/tokens/5000-0x09bc4e0d864854c6afb6eb9a9cdf58ac190d0df9.webp
          name: USDC (Bridged)
          priceUSD: 1.003
          symbol: USDC
          tags:
          - stargateV2
          - stablecoin
        eip155:8453:
        - address: 0x833589fcd6edb6e08f4c7c32d4f71b54bda02913
          chainID: eip155:8453
          decimals: 6
          extensions:
            homepage: https://www.circle.com/en/usdc
            verified: true
          logoURI: https://defi-images-blockdaemon-research-development-int-aa593eebdaa2fd.gitlab.io/tokens/8453-0x833589fcd6edb6e08f4c7c32d4f71b54bda02913.webp
          name: USDC
          priceUSD: 1
          symbol: USDC
          tags:
          - stargateV2
          - stablecoin
      type: object
    TokenAmount:
      description: A token and its corresponding amount.
      properties:
        amount:
          description: The amount of a token represented as a string.
          pattern: "^([1-9][0-9]*|0)(\\.[0-9]+)?$"
          type: string
        amountUSD:
          description: The amount of a token represented as a decimal number.
          format: float
          type: number
        token:
          $ref: '#/components/schemas/Token'
      required:
      - amount
      - token
      type: object
    Action:
      description: Details about an action performed in a step of a route.
      properties:
        from:
          $ref: '#/components/schemas/TokenAmount'
        to:
          $ref: '#/components/schemas/TokenAmount'
        slippage:
          default: 0.01
          description: "The maximum allowed price slippage for a transaction, expressed\
            \ as a fraction of 100."
          format: float
          maximum: 1
          minimum: 0
          type: number
        fromAccount:
          $ref: '#/components/schemas/Account'
        toAccount:
          $ref: '#/components/schemas/Account'
      required:
      - from
      - fromAccount
      - slippage
      - to
      - toAccount
      type: object
    FeeCost:
      description: "The maximum allowed price slippage for the transaction, as a decimal\
        \ fraction."
      properties:
        name:
          description: Name of the fee cost.
          type: string
        description:
          description: Description of the fee cost.
          type: string
        token:
          $ref: '#/components/schemas/TokenAmount'
        included:
          description: "Flag indicating if the fee cost is included in the fromAmount.\
            \ If true, the fee will be deducted from the fromAmount to calculate the\
            \ final toAmount. If false, the fee needs to be payed on top of the fromAmount."
          type: boolean
      required:
      - description
      - included
      - name
      - token
      type: object
    GasCost:
      description: Details about the gas cost for a step of a route.
      properties:
        limit:
          description: "The gas limit for the (internal-)transaction, specified as\
            \ a string to maintain precision."
          pattern: "^([1-9][0-9]*|0)(\\.[0-9]+)?$"
          type: string
        token:
          $ref: '#/components/schemas/TokenAmount'
      required:
      - limit
      - token
      type: object
    IntegrationDetails:
      description: "Details about a DeFi integration, such as a bridge or an exchange."
      properties:
        key:
          description: A unique identifier for the integration.
          type: string
        name:
          description: The name of the integration.
          type: string
        logoURI:
          description: URL to the integration's logo.
          format: uri
          type: string
        type:
          description: The type of the integration
          enum:
          - bridge
          - exchange
          - lendborrow
          type: string
      required:
      - key
      - logoURI
      - name
      - type
      type: object
    Estimate:
      description: An estimate of the costs and outcome of a step in a route.
      properties:
        integrationDetails:
          $ref: '#/components/schemas/IntegrationDetails'
        approvalAddress:
          description: "The address of a token, account, or smart contract."
          pattern: "^0x[a-fA-F0-9]{40}$"
          type: string
        toAmountMin:
          description: "The minimum amount to be received after the transaction, specified\
            \ as a string to maintain precision."
          pattern: "^([1-9][0-9]*|0)(\\.[0-9]+)?$"
          type: string
        toAmount:
          description: "The estimated amount to be received after the transaction,\
            \ specified as a string to maintain precision."
          pattern: "^([1-9][0-9]*|0)(\\.[0-9]+)?$"
          type: string
        fromAmount:
          description: "The amount of tokens to be sent, including decimals."
          pattern: "^([1-9][0-9]*|0)(\\.[0-9]+)?$"
          type: string
        feeCosts:
          description: "Transaction fees, if any. This can be empty if there are no\
            \ extra fees."
          example:
          - name: LP Fee
            description: Fee paid to the Liquidity Provider
            token:
              amount: "3989"
              amountUSD: 0.003992989
              token:
                chainID: eip155:1
                address: 0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48
                symbol: USDC
                decimals: 6
                logoURI: https://defi-images-blockdaemon-research-development-int-aa593eebdaa2fd.gitlab.io/tokens/1-0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48.webp
                name: USDC
                tags:
                - stargateV2
                - stargateV1
                - stablecoin
                extensions: {}
            included: true
          items:
            $ref: '#/components/schemas/FeeCost'
          type: array
          x-examples:
            emptyFeeExample:
              summary: Example scenario with no extra transaction fees (feeCosts is
                empty).
              value: []
            feeExample:
              summary: Example scenario where feeCosts includes a Liquidity Provider
                fee.
              value:
              - name: LP Fee
                description: Fee paid to the Liquidity Provider
                token:
                  amount: "3989"
                  amountUSD: 0.003992989
                  token:
                    chainID: eip155:1
                    address: 0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48
                    symbol: USDC
                    decimals: 6
                    logoURI: https://defi-images-blockdaemon-research-development-int-aa593eebdaa2fd.gitlab.io/tokens/1-0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48.webp
                    name: USDC
                    tags:
                    - stargateV2
                    - stargateV1
                    - stablecoin
                    extensions: {}
                included: true
        gasCosts:
          description: The CAIP-2 identifier for a blockchain.
          items:
            $ref: '#/components/schemas/GasCost'
          type: array
        executionDuration:
          description: "The estimated time for the transaction to be executed, in\
            \ seconds."
          type: integer
        fromAmountUSD:
          description: The value of the amount to be sent in USD.
          pattern: "^(0(\\.[0-9]+)?|[1-9][0-9]*(\\.[0-9]+)?)$"
          type: string
        toAmountUSD:
          description: The estimated value of the amount to be received in USD.
          pattern: "^(0(\\.[0-9]+)?|[1-9][0-9]*(\\.[0-9]+)?)$"
          type: string
      required:
      - approvalAddress
      - feeCosts
      - fromAmount
      - gasCosts
      - integrationDetails
      - toAmount
      type: object
    IncludedStep:
      description: Details about an individual step in a route.
      properties:
        type:
          description: "Type of the step, such as 'swap' or 'cross'."
          enum:
          - swap
          - cross
          - aggregator
          type: string
        action:
          $ref: '#/components/schemas/Action'
        estimate:
          $ref: '#/components/schemas/Estimate'
        integrationDetails:
          $ref: '#/components/schemas/IntegrationDetails'
      required:
      - action
      - estimate
      - integrationDetails
      - type
      type: object
    IncludedSteps:
      description: A list of all steps included in a route.
      items:
        $ref: '#/components/schemas/IncludedStep'
      type: array
    TargetID:
      description: A unique identifier for a plugin or sub-component.
      format: uuid
      type: string
    Route:
      description: "Details about a route for swapping tokens, including the steps\
        \ involved."
      properties:
        targetID:
          description: A unique identifier for a plugin or sub-component.
          format: uuid
          type: string
        from:
          $ref: '#/components/schemas/TokenAmount'
        to:
          $ref: '#/components/schemas/TokenAmount'
        slippage:
          description: The amount of a token represented as a decimal number.
          format: float
          type: number
        steps:
          $ref: '#/components/schemas/IncludedSteps'
        transactionRequest:
          $ref: '#/components/schemas/TransactionRequest'
        extensions:
          additionalProperties:
            type: string
          description: Additional metadata about the route.
          type: object
      required:
      - from
      - steps
      - targetID
      - to
      - transactionRequest
      type: object
    Routes:
      description: A collection of available routes for swapping tokens.
      items:
        $ref: '#/components/schemas/Route'
      type: array
    RoutesResponse:
      description: A response containing available and unavailable routes for swapping
        tokens.
      example:
        routes:
        - from:
            amount: "3000000000000000"
            amountUSD: 7.841554
            token:
              address: 0x0000000000000000000000000000000000000000
              chainID: eip155:1
              decimals: 18
              extensions:
                homepage: https://ethereum.org/
                verified: true
              logoURI: https://defi-images-blockdaemon-research-development-int-aa593eebdaa2fd.gitlab.io/tokens/1-0x0000000000000000000000000000000000000000.webp
              name: Ether
              priceUSD: 2608.29
              symbol: ETH
              tags:
              - native
              - stargateV2
          steps:
          - action:
              from:
                amount: "3000000000000000"
                token:
                  address: 0x0000000000000000000000000000000000000000
                  chainID: eip155:1
                  decimals: 18
                  extensions:
                    homepage: https://ethereum.org/
                    verified: true
                  logoURI: https://defi-images-blockdaemon-research-development-int-aa593eebdaa2fd.gitlab.io/tokens/1-0x0000000000000000000000000000000000000000.webp
                  name: Ether
                  priceUSD: 2608.29
                  symbol: ETH
                  tags:
                  - native
                  - stargateV2
              fromAccount:
                address: 0xb8DC8a293fb4c6677dE0A29E505d33314eBB9161
                metadata: {}
              slippage: 0.001
              to:
                amount: "7841554"
                token:
                  address: 0x0b2c639c533813f4aa9d7837caf62653d097ff85
                  chainID: eip155:10
                  decimals: 6
                  extensions:
                    homepage: https://www.circle.com/en/usdc
                    verified: true
                  logoURI: https://defi-images-blockdaemon-research-development-int-aa593eebdaa2fd.gitlab.io/tokens/10-0x0b2c639c533813f4aa9d7837caf62653d097ff85.webp
                  name: USDC
                  priceUSD: 1
                  symbol: USDC
                  tags:
                  - stargateV2
                  - stablecoin
              toAccount:
                address: 0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045
                metadata: {}
            estimate:
              approvalAddress: 0xa5f565650890fba1824ee0f21ebbbf660a179934
              executionDuration: 3
              feeCosts:
              - description: Relay bridge gas fee
                included: true
                name: Relayer Gas fee
                token:
                  amount: "25680810126"
                  amountUSD: 6.6983E-5
                  token:
                    address: 0x0000000000000000000000000000000000000000
                    chainID: eip155:1
                    decimals: 18
                    extensions:
                      homepage: https://ethereum.org/
                      verified: true
                    logoURI: https://defi-images-blockdaemon-research-development-int-aa593eebdaa2fd.gitlab.io/tokens/1-0x0000000000000000000000000000000000000000.webp
                    name: Ether
                    priceUSD: 2608.29
                    symbol: ETH
                    tags:
                    - native
                    - stargateV2
              fromAmount: "3000000000000000"
              gasCosts:
              - limit: "92300"
                token:
                  amount: "75196972377000"
                  amountUSD: 0.1961355
                  token:
                    address: 0x0000000000000000000000000000000000000000
                    chainID: eip155:1
                    decimals: 18
                    extensions:
                      homepage: https://ethereum.org/
                      verified: true
                    logoURI: https://defi-images-blockdaemon-research-development-int-aa593eebdaa2fd.gitlab.io/tokens/1-0x0000000000000000000000000000000000000000.webp
                    name: Ether
                    priceUSD: 2608.29
                    symbol: ETH
                    tags:
                    - native
                    - stargateV2
              integrationDetails:
                key: relay
                logoURI: https://raw.githubusercontent.com/lifinance/types/main/src/assets/icons/bridges/relay.svg
                name: Relay
                type: bridge
              toAmount: "7841554"
              toAmountMin: "7833713"
            integrationDetails:
              key: relay
              logoURI: https://raw.githubusercontent.com/lifinance/types/main/src/assets/icons/bridges/relay.svg
              name: Relay
              type: bridge
            type: cross
          targetID: 485dc835-b4a1-5cee-9c3d-a4e2e224ad56
          to:
            amount: "7841554"
            token:
              address: 0x0b2c639c533813f4aa9d7837caf62653d097ff85
              chainID: eip155:10
              decimals: 6
              extensions:
                homepage: https://www.circle.com/en/usdc
                verified: true
              logoURI: https://defi-images-blockdaemon-research-development-int-aa593eebdaa2fd.gitlab.io/tokens/10-0x0b2c639c533813f4aa9d7837caf62653d097ff85.webp
              name: USDC
              priceUSD: 1
              symbol: USDC
              tags:
              - stargateV2
              - stablecoin
          transactionRequest:
            chainID: eip155:1
            data: 0xce8a97a5000000000000000000000000000000000000000000000000000000000000008000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030d400000000000000000000000000000000000000000000000000000000000000000527fe8b941900fcc053fd4850fbe71d25bf4d1102cdbfb39c6a02c28f7ae35380000000000000000000000000000000000000000000000000000000000000140000000000000000000000000000000000000000000000000000000000000018000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000b8dc8a293fb4c6677de0a29e505d33314ebb9161000000000000000000000000000000000000000000000000000aa87bee538000000000000000000000000000000000000000000000000000000000000000000a0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000086f7074696d69736d0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
            from: 0xb8DC8a293fb4c6677dE0A29E505d33314eBB9161
            gasLimit: 887024
            to: 0x1231DEB6f5749EF6cE6943a275A1D3E7486F4EaE
            value: 0xaa87bee538000
        - from:
            amount: "3000000000000000"
            amountUSD: 7.83366
            token:
              address: 0x0000000000000000000000000000000000000000
              chainID: eip155:1
              decimals: 18
              extensions:
                homepage: https://ethereum.org/
                verified: true
              logoURI: https://defi-images-blockdaemon-research-development-int-aa593eebdaa2fd.gitlab.io/tokens/1-0x0000000000000000000000000000000000000000.webp
              name: Ether
              priceUSD: 2608.29
              symbol: ETH
              tags:
              - native
              - stargateV2
          steps:
          - action:
              from:
                amount: "3000000000000000"
                token:
                  address: 0x0000000000000000000000000000000000000000
                  chainID: eip155:1
                  decimals: 18
                  extensions:
                    homepage: https://ethereum.org/
                    verified: true
                  logoURI: https://defi-images-blockdaemon-research-development-int-aa593eebdaa2fd.gitlab.io/tokens/1-0x0000000000000000000000000000000000000000.webp
                  name: Ether
                  priceUSD: 2608.29
                  symbol: ETH
                  tags:
                  - native
                  - stargateV2
              fromAccount:
                address: 0xb8DC8a293fb4c6677dE0A29E505d33314eBB9161
                metadata: {}
              slippage: 0.001
              to:
                amount: "3000023179084655"
                token:
                  address: 0x0000000000000000000000000000000000000000
                  chainID: eip155:10
                  decimals: 18
                  extensions:
                    homepage: https://www.optimism.io/
                    verified: true
                  logoURI: https://defi-images-blockdaemon-research-development-int-aa593eebdaa2fd.gitlab.io/tokens/10-0x0000000000000000000000000000000000000000.webp
                  name: Ether (Optimism)
                  priceUSD: 1.012
                  symbol: ETH
                  tags:
                  - native
                  - stargateV2
              toAccount:
                address: 0xb8DC8a293fb4c6677dE0A29E505d33314eBB9161
                metadata: {}
            estimate:
              approvalAddress: 0xb8901acB165ed027E32754E0FFe830802919727f
              executionDuration: 120
              feeCosts:
              - description: Fee paid to the Liquidity Provider
                included: true
                name: LP Fee
                token:
                  amount: "1200000000000"
                  amountUSD: 1.2144E-6
                  token:
                    address: 0x0000000000000000000000000000000000000000
                    chainID: eip155:10
                    decimals: 18
                    extensions:
                      homepage: https://www.optimism.io/
                      verified: true
                    logoURI: https://defi-images-blockdaemon-research-development-int-aa593eebdaa2fd.gitlab.io/tokens/10-0x0000000000000000000000000000000000000000.webp
                    name: Ether (Optimism)
                    priceUSD: 1.012
                    symbol: ETH
                    tags:
                    - native
                    - stargateV2
              fromAmount: "3000000000000000"
              gasCosts:
              - limit: "169000"
                token:
                  amount: "137684597310000"
                  amountUSD: 0.35912135
                  token:
                    address: 0x0000000000000000000000000000000000000000
                    chainID: eip155:1
                    decimals: 18
                    extensions:
                      homepage: https://ethereum.org/
                      verified: true
                    logoURI: https://defi-images-blockdaemon-research-development-int-aa593eebdaa2fd.gitlab.io/tokens/1-0x0000000000000000000000000000000000000000.webp
                    name: Ether
                    priceUSD: 2608.29
                    symbol: ETH
                    tags:
                    - native
                    - stargateV2
              integrationDetails:
                key: hop
                logoURI: https://raw.githubusercontent.com/lifinance/types/main/src/assets/icons/bridges/hop.png
                name: Hop
                type: exchange
              toAmount: "3000023179084655"
              toAmountMin: "2997023155905570"
            integrationDetails:
              key: hop
              logoURI: https://raw.githubusercontent.com/lifinance/types/main/src/assets/icons/bridges/hop.png
              name: Hop
              type: exchange
            type: cross
          - action:
              from:
                amount: "2997023155905570"
                token:
                  address: 0x0000000000000000000000000000000000000000
                  chainID: eip155:10
                  decimals: 18
                  extensions:
                    homepage: https://www.optimism.io/
                    verified: true
                  logoURI: https://defi-images-blockdaemon-research-development-int-aa593eebdaa2fd.gitlab.io/tokens/10-0x0000000000000000000000000000000000000000.webp
                  name: Ether (Optimism)
                  priceUSD: 1.012
                  symbol: ETH
                  tags:
                  - native
                  - stargateV2
              fromAccount:
                address: 0xb8DC8a293fb4c6677dE0A29E505d33314eBB9161
                metadata: {}
              slippage: 0.001
              to:
                amount: "7833660"
                token:
                  address: 0x0b2c639c533813f4aa9d7837caf62653d097ff85
                  chainID: eip155:10
                  decimals: 6
                  extensions:
                    homepage: https://www.circle.com/en/usdc
                    verified: true
                  logoURI: https://defi-images-blockdaemon-research-development-int-aa593eebdaa2fd.gitlab.io/tokens/10-0x0b2c639c533813f4aa9d7837caf62653d097ff85.webp
                  name: USDC
                  priceUSD: 1
                  symbol: USDC
                  tags:
                  - stargateV2
                  - stablecoin
              toAccount:
                address: 0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045
                metadata: {}
            estimate:
              approvalAddress: 0x6140b987d6B51Fd75b66C3B07733Beb5167c42fc
              executionDuration: 30
              feeCosts: []
              fromAmount: "2997023155905570"
              gasCosts:
              - limit: "740000"
                token:
                  amount: "160000000000"
                  amountUSD: 1.6192E-7
                  token:
                    address: 0x0000000000000000000000000000000000000000
                    chainID: eip155:10
                    decimals: 18
                    extensions:
                      homepage: https://www.optimism.io/
                      verified: true
                    logoURI: https://defi-images-blockdaemon-research-development-int-aa593eebdaa2fd.gitlab.io/tokens/10-0x0000000000000000000000000000000000000000.webp
                    name: Ether (Optimism)
                    priceUSD: 1.012
                    symbol: ETH
                    tags:
                    - native
                    - stargateV2
              integrationDetails:
                key: lifidexaggregator
                logoURI: https://raw.githubusercontent.com/lifinance/types/main/src/assets/icons/exchanges/lifidexaggregator.svg
                name: LI.FI DEX Aggregator
                type: exchange
              toAmount: "7833660"
              toAmountMin: "7825825"
            integrationDetails:
              key: lifidexaggregator
              logoURI: https://raw.githubusercontent.com/lifinance/types/main/src/assets/icons/exchanges/lifidexaggregator.svg
              name: LI.FI DEX Aggregator
              type: exchange
            type: swap
          targetID: 485dc835-b4a1-5cee-9c3d-a4e2e224ad56
          to:
            amount: "7833660"
            token:
              address: 0x0b2c639c533813f4aa9d7837caf62653d097ff85
              chainID: eip155:10
              decimals: 6
              extensions:
                homepage: https://www.circle.com/en/usdc
                verified: true
              logoURI: https://defi-images-blockdaemon-research-development-int-aa593eebdaa2fd.gitlab.io/tokens/10-0x0b2c639c533813f4aa9d7837caf62653d097ff85.webp
              name: USDC
              priceUSD: 1
              symbol: USDC
              tags:
              - stargateV2
              - stablecoin
          transactionRequest:
            chainID: eip155:1
            data: 0xb621b032000000000000000000000000000000000000000000000000000000000000004000000000000000000000000000000000000000000000000000000000000001e0bcfee034e14898b709d871fd37bc131bfe7fb019045fe86828d8df1c87be4d4b0000000000000000000000000000000000000000000000000000000000000140000000000000000000000000000000000000000000000000000000000000018000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000d8da6bf26964af9d7eed9e03e53415d37aa96045000000000000000000000000000000000000000000000000000aa87bee538000000000000000000000000000000000000000000000000000000000000000000a0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000056d6179616e0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000d8da6bf26964af9d7eed9e03e53415d37aa96045000000000000000000000000c38e4e6a15593f908255214653d3d947ca1c2338000000000000000000000000000000000000000000000000000000000000006000000000000000000000000000000000000000000000000000000000000001a4b866e173000000000000000000000000b8dc8a293fb4c6677de0a29e505d33314ebb91610000000000000000000000000b2c639c533813f4aa9d7837caf62653d097ff8500000000000000000000000000000000000000000000000000000000006374af0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001d00000000000000000000000000000000000000000000000000000000000187040000000000000000000000000000000000000000000000000000000067a7716f000000000000000000000000d8da6bf26964af9d7eed9e03e53415d37aa960450000000000000000000000000000000000000000000000000000000000000018000000000000000000000000a5aa6e2171b416e1d27ec53ca8c13db3f91a89cd00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002b45d2c7ef77f6f3c440042252d7bb5f44f4a7bea290bb2047d718668c2e31ef500000000000000000000000000000000000000000000000000000000
            from: 0xb8DC8a293fb4c6677dE0A29E505d33314eBB9161
            gasLimit: 237466
            to: 0x1231DEB6f5749EF6cE6943a275A1D3E7486F4EaE
            value: 0xaa87bee538000
        - from:
            amount: "3000000000000000"
            amountUSD: 7.84138
            token:
              address: 0x0000000000000000000000000000000000000000
              chainID: eip155:1
              decimals: 18
              extensions:
                homepage: https://ethereum.org/
                verified: true
              logoURI: https://defi-images-blockdaemon-research-development-int-aa593eebdaa2fd.gitlab.io/tokens/1-0x0000000000000000000000000000000000000000.webp
              name: Ether
              priceUSD: 2608.29
              symbol: ETH
              tags:
              - native
              - stargateV2
          steps:
          - action:
              from:
                amount: "3000000000000000"
                token:
                  address: 0x0000000000000000000000000000000000000000
                  chainID: eip155:1
                  decimals: 18
                  extensions:
                    homepage: https://ethereum.org/
                    verified: true
                  logoURI: https://defi-images-blockdaemon-research-development-int-aa593eebdaa2fd.gitlab.io/tokens/1-0x0000000000000000000000000000000000000000.webp
                  name: Ether
                  priceUSD: 2608.29
                  symbol: ETH
                  tags:
                  - native
                  - stargateV2
              fromAccount:
                address: 0xb8DC8a293fb4c6677dE0A29E505d33314eBB9161
                metadata: {}
              slippage: 0.001
              to:
                amount: "3000000000000000"
                token:
                  address: 0x0000000000000000000000000000000000000000
                  chainID: eip155:10
                  decimals: 18
                  extensions:
                    homepage: https://www.optimism.io/
                    verified: true
                  logoURI: https://defi-images-blockdaemon-research-development-int-aa593eebdaa2fd.gitlab.io/tokens/10-0x0000000000000000000000000000000000000000.webp
                  name: Ether (Optimism)
                  priceUSD: 1.012
                  symbol: ETH
                  tags:
                  - native
                  - stargateV2
              toAccount:
                address: 0xb8DC8a293fb4c6677dE0A29E505d33314eBB9161
                metadata: {}
            estimate:
              approvalAddress: 0x99C9fc46f92E8a1c0deC1b1747d010903E884bE1
              executionDuration: 85
              feeCosts: []
              fromAmount: "3000000000000000"
              gasCosts:
              - limit: "175500"
                token:
                  amount: "142980158745000"
                  amountUSD: 0.37293372
                  token:
                    address: 0x0000000000000000000000000000000000000000
                    chainID: eip155:1
                    decimals: 18
                    extensions:
                      homepage: https://ethereum.org/
                      verified: true
                    logoURI: https://defi-images-blockdaemon-research-development-int-aa593eebdaa2fd.gitlab.io/tokens/1-0x0000000000000000000000000000000000000000.webp
                    name: Ether
                    priceUSD: 2608.29
                    symbol: ETH
                    tags:
                    - native
                    - stargateV2
              integrationDetails:
                key: optimism
                logoURI: https://raw.githubusercontent.com/lifinance/types/main/src/assets/icons/bridges/optimism.png
                name: Optimism Gateway
                type: bridge
              toAmount: "3000000000000000"
              toAmountMin: "3000000000000000"
            integrationDetails:
              key: optimism
              logoURI: https://raw.githubusercontent.com/lifinance/types/main/src/assets/icons/bridges/optimism.png
              name: Optimism Gateway
              type: bridge
            type: cross
          - action:
              from:
                amount: "3000000000000000"
                token:
                  address: 0x0000000000000000000000000000000000000000
                  chainID: eip155:10
                  decimals: 18
                  extensions:
                    homepage: https://www.optimism.io/
                    verified: true
                  logoURI: https://defi-images-blockdaemon-research-development-int-aa593eebdaa2fd.gitlab.io/tokens/10-0x0000000000000000000000000000000000000000.webp
                  name: Ether (Optimism)
                  priceUSD: 1.012
                  symbol: ETH
                  tags:
                  - native
                  - stargateV2
              fromAccount:
                address: 0xb8DC8a293fb4c6677dE0A29E505d33314eBB9161
                metadata: {}
              slippage: 0.001
              to:
                amount: "7841380"
                token:
                  address: 0x0b2c639c533813f4aa9d7837caf62653d097ff85
                  chainID: eip155:10
                  decimals: 6
                  extensions:
                    homepage: https://www.circle.com/en/usdc
                    verified: true
                  logoURI: https://defi-images-blockdaemon-research-development-int-aa593eebdaa2fd.gitlab.io/tokens/10-0x0b2c639c533813f4aa9d7837caf62653d097ff85.webp
                  name: USDC
                  priceUSD: 1
                  symbol: USDC
                  tags:
                  - stargateV2
                  - stablecoin
              toAccount:
                address: 0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045
                metadata: {}
            estimate:
              approvalAddress: 0x6140b987d6B51Fd75b66C3B07733Beb5167c42fc
              executionDuration: 30
              feeCosts: []
              fromAmount: "3000000000000000"
              gasCosts:
              - limit: "740000"
                token:
                  amount: "160000000000"
                  amountUSD: 1.6192E-7
                  token:
                    address: 0x0000000000000000000000000000000000000000
                    chainID: eip155:10
                    decimals: 18
                    extensions:
                      homepage: https://www.optimism.io/
                      verified: true
                    logoURI: https://defi-images-blockdaemon-research-development-int-aa593eebdaa2fd.gitlab.io/tokens/10-0x0000000000000000000000000000000000000000.webp
                    name: Ether (Optimism)
                    priceUSD: 1.012
                    symbol: ETH
                    tags:
                    - native
                    - stargateV2
              integrationDetails:
                key: lifidexaggregator
                logoURI: https://raw.githubusercontent.com/lifinance/types/main/src/assets/icons/exchanges/lifidexaggregator.svg
                name: LI.FI DEX Aggregator
                type: exchange
              toAmount: "7841380"
              toAmountMin: "7833538"
            integrationDetails:
              key: lifidexaggregator
              logoURI: https://raw.githubusercontent.com/lifinance/types/main/src/assets/icons/exchanges/lifidexaggregator.svg
              name: LI.FI DEX Aggregator
              type: exchange
            type: swap
          targetID: 485dc835-b4a1-5cee-9c3d-a4e2e224ad56
          to:
            amount: "7841380"
            token:
              address: 0x0b2c639c533813f4aa9d7837caf62653d097ff85
              chainID: eip155:10
              decimals: 6
              extensions:
                homepage: https://www.circle.com/en/usdc
                verified: true
              logoURI: https://defi-images-blockdaemon-research-development-int-aa593eebdaa2fd.gitlab.io/tokens/10-0x0b2c639c533813f4aa9d7837caf62653d097ff85.webp
              name: USDC
              priceUSD: 1
              symbol: USDC
              tags:
              - stargateV2
              - stablecoin
          transactionRequest:
            chainID: eip155:1
            data: 0x03add8c300000000000000000000000000000000000000000000000000000000000001400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000aa5c6d49764220000000000000000000000000000000000000000000000000000000067ab3bc0000000000000000000000000000000000000000000000000000aa5c6d49764220000000000000000000000000000000000000000000000000000000067ab3bc0000000000000000000000000b8901acb165ed027e32754e0ffe830802919727f000000000000000000000000710bda329b2a6224e4b44833de30f38e7f81d56400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000a79d26290aac90939d0e222556fe2af8e184f192ff26037155edbeafbade6b460000000000000000000000000000000000000000000000000000000000000140000000000000000000000000000000000000000000000000000000000000018000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000b8dc8a293fb4c6677de0a29e505d33314ebb9161000000000000000000000000000000000000000000000000000aa87bee538000000000000000000000000000000000000000000000000000000000000000000a000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003686f7000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
            from: 0xb8DC8a293fb4c6677dE0A29E505d33314eBB9161
            gasLimit: 767091
            to: 0x1231DEB6f5749EF6cE6943a275A1D3E7486F4EaE
            value: 0xaa87bee538000
        - from:
            amount: "3000000000000000"
            amountUSD: 7.829045
            token:
              address: 0x0000000000000000000000000000000000000000
              chainID: eip155:1
              decimals: 18
              extensions:
                homepage: https://ethereum.org/
                verified: true
              logoURI: https://defi-images-blockdaemon-research-development-int-aa593eebdaa2fd.gitlab.io/tokens/1-0x0000000000000000000000000000000000000000.webp
              name: Ether
              priceUSD: 2608.29
              symbol: ETH
              tags:
              - native
              - stargateV2
          steps:
          - action:
              from:
                amount: "3000000000000000"
                token:
                  address: 0x0000000000000000000000000000000000000000
                  chainID: eip155:1
                  decimals: 18
                  extensions:
                    homepage: https://ethereum.org/
                    verified: true
                  logoURI: https://defi-images-blockdaemon-research-development-int-aa593eebdaa2fd.gitlab.io/tokens/1-0x0000000000000000000000000000000000000000.webp
                  name: Ether
                  priceUSD: 2608.29
                  symbol: ETH
                  tags:
                  - native
                  - stargateV2
              fromAccount:
                address: 0xb8DC8a293fb4c6677dE0A29E505d33314eBB9161
                metadata: {}
              slippage: 0.001
              to:
                amount: "7830198"
                token:
                  address: 0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48
                  chainID: eip155:1
                  decimals: 6
                  extensions:
                    homepage: https://www.circle.com/en/usdc
                    verified: true
                  logoURI: https://defi-images-blockdaemon-research-development-int-aa593eebdaa2fd.gitlab.io/tokens/1-0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48.webp
                  name: USDC
                  priceUSD: 1
                  symbol: USDC
                  tags:
                  - stargateV2
                  - stargateV1
                  - stablecoin
              toAccount:
                address: 0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045
                metadata: {}
            estimate:
              approvalAddress: 0x6140b987d6B51Fd75b66C3B07733Beb5167c42fc
              executionDuration: 30
              feeCosts: []
              fromAmount: "3000000000000000"
              gasCosts:
              - limit: "143000"
                token:
                  amount: "116502351570000"
                  amountUSD: 0.30387193
                  token:
                    address: 0x0000000000000000000000000000000000000000
                    chainID: eip155:1
                    decimals: 18
                    extensions:
                      homepage: https://ethereum.org/
                      verified: true
                    logoURI: https://defi-images-blockdaemon-research-development-int-aa593eebdaa2fd.gitlab.io/tokens/1-0x0000000000000000000000000000000000000000.webp
                    name: Ether
                    priceUSD: 2608.29
                    symbol: ETH
                    tags:
                    - native
                    - stargateV2
              integrationDetails:
                key: lifidexaggregator
                logoURI: https://raw.githubusercontent.com/lifinance/types/main/src/assets/icons/exchanges/lifidexaggregator.svg
                name: LI.FI DEX Aggregator
                type: exchange
              toAmount: "7830198"
              toAmountMin: "7822367"
            integrationDetails:
              key: lifidexaggregator
              logoURI: https://raw.githubusercontent.com/lifinance/types/main/src/assets/icons/exchanges/lifidexaggregator.svg
              name: LI.FI DEX Aggregator
              type: exchange
            type: swap
          - action:
              from:
                amount: "7830198"
                token:
                  address: 0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48
                  chainID: eip155:1
                  decimals: 6
                  extensions:
                    homepage: https://www.circle.com/en/usdc
                    verified: true
                  logoURI: https://defi-images-blockdaemon-research-development-int-aa593eebdaa2fd.gitlab.io/tokens/1-0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48.webp
                  name: USDC
                  priceUSD: 1
                  symbol: USDC
                  tags:
                  - stargateV2
                  - stargateV1
                  - stablecoin
              fromAccount:
                address: 0xb8DC8a293fb4c6677dE0A29E505d33314eBB9161
                metadata: {}
              slippage: 0.001
              to:
[...]
